.user .search .layui-form-item {
    display: inline-block;
}

.user .search .layui-input-block {
    margin-left: 85px;
}

.user .search .time {
    width: 300px;
}

.user .search .layui-form-item button:nth-child(2){
    margin-right: 30px;
}

.user table tr td:nth-child(6) span{
    display: block;
    max-width: 260px;
    margin: auto;
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}